@use 'vars' as v;

@mixin font_title($fontSize, $lineHeight, $fontweight, $fontFamily: v.$main-font-family) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontweight;
    font-family: $fontFamily;
}