$main-font-size: 16px;
$main-font-color: #4B5D68;
$main-title-color: #212353;
$main-hover-color: #8A40EE;
$main-accent-color: #9C69E2;

$main-background: #ffffff;
$main-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Work Sans', sans-serif;
$main-border-radius: 50px;
$main-line-height: 1.6;

$container-width: 1170px;
$half-container-width: calc($container-width / 2);
